In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv(r'screen_time.csv')

In [7]:
df.head()

,Age,Gender,Screen Time Type,Day Type,Average Screen Time (hours),Sample Size
0,5,Male,Educational,Weekday,0.44,500
1,5,Male,Recreational,Weekday,1.11,500
2,5,Male,Total,Weekday,1.55,500
3,5,Male,Educational,Weekend,0.50,500
4,5,Male,Recreational,Weekend,1.44,500

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          198 non-null    int64
 1   Gender                       198 non-null    object
 2   Screen Time Type             198 non-null    object
 3   Day Type                     198 non-null    object
 4   Average Screen Time (hours)  198 non-null    float64
 5   Sample Size                  198 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.4+ KB