In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'D:\Data Science\ML\student_habits_performance.csv')

In [3]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [5]:
df.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

In [6]:
df['parental_education_level'].value_counts()

parental_education_level
High School    392
Bachelor       350
Master         167
Name: count, dtype: int64

In [7]:
df = df.dropna()

In [8]:
df['parental_education_level'].size

909

In [9]:
df.shape

(909, 16)

In [10]:
df.nunique()

student_id                       909
age                                8
gender                             3
study_hours_per_day               76
social_media_hours                59
netflix_hours                     49
part_time_job                      2
attendance_percentage            316
sleep_hours                       67
diet_quality                       3
exercise_frequency                 7
parental_education_level           3
internet_quality                   3
mental_health_rating              10
extracurricular_participation      2
exam_score                       453
dtype: int64

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,909.0,20.475248,2.302721,17.0,18.0,20.0,22.0,24.0
study_hours_per_day,909.0,3.538724,1.469730,0.0,2.5,3.5,4.5,8.3
social_media_hours,909.0,2.504620,1.164802,0.0,1.7,2.5,3.3,7.2
netflix_hours,909.0,1.830363,1.071251,0.0,1.0,1.8,2.6,5.4
attendance_percentage,909.0,83.880308,9.453622,56.0,77.5,84.2,90.7,100.0
sleep_hours,909.0,6.474037,1.218943,3.2,5.6,6.5,7.3,10.0
exercise_frequency,909.0,3.051705,2.035632,0.0,1.0,3.0,5.0,6.0
mental_health_rating,909.0,5.466447,2.857525,1.0,3.0,5.0,8.0,10.0
exam_score,909.0,69.558196,16.929436,18.4,58.4,70.4,81.3,100.0

# Feature Creation

In [12]:
cate_col = df.select_dtypes(['object', 'category']).columns
num_col = df.select_dtypes(['int', 'float']).columns

In [13]:
df['total_screen_time'] = df['social_media_hours'] + df['netflix_hours']
pd.DataFrame(df[['total_screen_time', 'social_media_hours', 'netflix_hours']])

     total_screen_time  social_media_hours  netflix_hours
0                  2.3                 1.2            1.1
1                  5.1                 2.8            2.3
2                  4.4                 3.1            1.3
3                  4.9                 3.9            1.0
4                  4.9                 4.4            0.5
..                 ...                 ...            ...
995                2.1                 0.5            1.6
996                3.4                 1.0            2.4
997                3.9                 2.6            1.3
998                5.2                 4.1            1.1
999                4.8                 2.9            1.9

[909 rows x 3 columns]

In [14]:
df['lifestyle_score'] = (
    df['sleep_hours'] + df['exercise_frequency'] + df['mental_health_rating']
) / 3

pd.DataFrame(df[['lifestyle_score','sleep_hours' , 'exercise_frequency', 'mental_health_rating']])

     lifestyle_score  sleep_hours  exercise_frequency  mental_health_rating
0           7.333333          8.0                   6                     8
1           6.200000          4.6                   6                     8
2           3.333333          8.0                   1                     1
3           4.733333          9.2                   4                     1
4           2.966667          4.9                   3                     1
..               ...          ...                 ...                   ...
995         5.166667          7.5                   2                     6
996         4.600000          6.8                   1                     6
997         6.833333          6.5                   5                     9
998         2.866667          7.6                   0                     1
999         5.700000          7.1                   2                     8

[909 rows x 4 columns]

In [15]:
df['study_effectiveness'] = df['study_hours_per_day'] * (df['attendance_percentage'] / 100)
pd.DataFrame(df['study_effectiveness'])

     study_effectiveness
0                 0.0000
1                 6.7137
2                 1.3272
3                 0.7100
4                 4.5450
..                   ...
995               2.0020
996               2.4940
997               1.8570
998               5.4000
999               3.8442

[909 rows x 1 columns]

In [16]:
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,total_screen_time,lifestyle_score,study_effectiveness
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2,2.3,7.333333,0.0000
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0,5.1,6.200000,6.7137
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3,4.4,3.333333,1.3272
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8,4.9,4.733333,0.7100
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4,4.9,2.966667,4.5450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1,2.1,5.166667,2.0020
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9,3.4,4.600000,2.4940
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4,3.9,6.833333,1.8570
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7,5.2,2.866667,5.4000
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9,4.8,5.700000,3.8442

In [17]:
df['diet_quality'].value_counts()

diet_quality
Fair    396
Good    347
Poor    166
Name: count, dtype: int64

In [18]:
df['internet_quality'].value_counts()

internet_quality
Good       410
Average    352
Poor       147
Name: count, dtype: int64

# Binary Label Encoding

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
binary_columns = ['gender', 'part_time_job', 'extracurricular_participation']
le = LabelEncoder()
for col in binary_columns:
    df[col] = le.fit_transform(df[col])

In [21]:
df[['gender', 'part_time_job', 'extracurricular_participation']]

     gender  part_time_job  extracurricular_participation
0         0              0                              1
1         0              0                              0
2         1              0                              0
3         0              0                              1
4         0              0                              0
..      ...            ...                            ...
995       0              0                              1
996       0              1                              1
997       1              0                              1
998       1              1                              0
999       0              0                              0

[909 rows x 3 columns]

#### One-Hot Encoding for Multiclass Categorical Variables

In [22]:
df.dtypes

student_id                        object
age                                int64
gender                             int32
study_hours_per_day              float64
social_media_hours               float64
netflix_hours                    float64
part_time_job                      int32
attendance_percentage            float64
sleep_hours                      float64
diet_quality                      object
exercise_frequency                 int64
parental_education_level          object
internet_quality                  object
mental_health_rating               int64
extracurricular_participation      int32
exam_score                       float64
total_screen_time                float64
lifestyle_score                  float64
study_effectiveness              float64
dtype: object

In [23]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score,total_screen_time,lifestyle_score,study_effectiveness
0,S1000,23,0,0.0,1.2,1.1,0,85.0,8.0,Fair,6,Master,Average,8,1,56.2,2.3,7.333333,0.0000
1,S1001,20,0,6.9,2.8,2.3,0,97.3,4.6,Good,6,High School,Average,8,0,100.0,5.1,6.200000,6.7137
2,S1002,21,1,1.4,3.1,1.3,0,94.8,8.0,Poor,1,High School,Poor,1,0,34.3,4.4,3.333333,1.3272
3,S1003,23,0,1.0,3.9,1.0,0,71.0,9.2,Poor,4,Master,Good,1,1,26.8,4.9,4.733333,0.7100
4,S1004,19,0,5.0,4.4,0.5,0,90.9,4.9,Fair,3,Master,Good,1,0,66.4,4.9,2.966667,4.5450

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 909 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   student_id                                 909 non-null    object
 1   age                                        909 non-null    int64
 2   gender                                     909 non-null    int32
 3   study_hours_per_day                        909 non-null    float64
 4   social_media_hours                         909 non-null    float64
 5   netflix_hours                              909 non-null    float64
 6   part_time_job                              909 non-null    int32
 7   attendance_percentage                      909 non-null    float64
 8   sleep_hours                                909 non-null    float64
 9   exercise_frequency                         909 non-null    int64
 10  mental_health_rating                       909 non-null    int64
 11  extracurricular_participation              909 non-null    int32
 12  exam_score                                 909 non-null    float64
 13  total_screen_time                          909 non-null    float64
 14  lifestyle_score                            909 non-null    float64
 15  study_effectiveness                        909 non-null    float64
 16  diet_quality_Good_True                     909 non-null    bool
 17  diet_quality_Poor_True                     909 non-null    bool
 18  parental_education_level_High School_True  909 non-null    bool
 19  parental_education_level_Master_True       909 non-null    bool
 20  internet_quality_Good_True                 909 non-null    bool
 21  internet_quality_Poor_True                 909 non-null    bool
dtypes: bool(6), float64(9), int32(3), int64(3), object(1)
memory usage: 115.4+ KB

In [24]:
df = pd.get_dummies(
    df,
    columns=["diet_quality", "parental_education_level", "internet_quality"], 
    drop_first=True
)

In [64]:
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,extracurricular_participation,exam_score,diet_quality_Good,diet_quality_Poor,parental_education_level_High School,parental_education_level_Master,internet_quality_Good,internet_quality_Poor
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,6,8,Yes,56.2,False,False,False,True,False,False
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,6,8,No,100.0,True,False,True,False,False,False
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,1,1,No,34.3,False,True,True,False,False,True
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,4,1,Yes,26.8,False,True,False,True,True,False
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,3,1,No,66.4,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,2,6,Yes,76.1,False,False,True,False,True,False
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,1,6,Yes,65.9,False,True,True,False,False,False
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,5,9,Yes,64.4,True,False,False,False,True,False
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,0,1,No,69.7,False,False,False,False,False,False
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,2,8,No,74.9,True,False,False,False,False,False

In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
model = LinearRegression()

In [79]:
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined